In [3]:
import pandas as pd
from scipy.stats import ttest_ind

In [4]:
df = pd.read_csv('Данные об аудитории.csv')
df2 = pd.read_csv('Данные АБ тестов.csv')
df3 = pd.read_csv('Листеры.csv')
df.head()

         date                               user_id  view_adverts
0  2023-11-11  8c020470-8461-11ed-83d0-552e8cc749d6          13.0
1  2023-11-18  5875f070-7b92-11ee-a6fb-8b298e83f4f7          14.0
2  2023-11-29  3c2d27c0-4fd6-11eb-b89f-2ffb31b67dd6          21.0
3  2023-11-29  234a96d0-ad16-11ed-a2e6-793ddfeeba1f          23.0
4  2023-11-29  4d07c180-644f-11eb-879c-b7c02edf4f37          12.0

In [67]:
mau = df['user_id'].nunique()
print(mau)

7639

In [68]:
dau = df.groupby('date')['user_id'].nunique()
print(dau.mean())

560.4666666666667

In [66]:
counts_users_first_day = df[df['date'] == "2023-11-01"]
counts_users_second_day = df[(df['date'] == "2023-11-02")]
retention_count = len(pd.merge(counts_users_first_day, counts_users_second_day, on="user_id"))
retention = (retention_count / len(counts_users_first_day))*100
print(retention)

26.64526484751204

In [106]:
total_users = df.groupby('user_id')['view_adverts'].sum().reset_index()
users_with_adverts = total_users[total_users['view_adverts'] > 0].nunique()
conversion = (users_with_adverts['user_id']/len(total_users))*100
print(conversion)

46.31496269145176

In [107]:
total_users = df.groupby('user_id')['view_adverts'].sum().reset_index()
print(total_users['view_adverts'].mean())

2.8687000916350307

In [112]:
total = 2000
Promoters = 1200
Promoters_percent = (Promoters * 100) / total
Detractors = 500
Detractors_percent = (Detractors * 100) / total
NPS = Promoters_percent - Detractors_percent
print(NPS)

35.0

In [114]:
df2.head()

   experiment_num experiment_group     user_id  revenue
0             1.0             test     38456.0    520.0
1             1.0          control  13125924.0    806.0
2             1.0          control   9761984.0      0.0
3             1.0             test  11387012.0    208.0
4             1.0             test  18319648.0    104.0

In [8]:
exp1 = df2[df2['experiment_num'] == 1]
exp1_test = exp1[exp1['experiment_group'] == 'test']
exp1_control = exp1[exp1['experiment_group'] == 'control']

exp1_test_arpu = exp1_test.groupby('user_id')['revenue'].sum()
exp1_control_arpu = exp1_control.groupby('user_id')['revenue'].sum()
t_stat1, p_value1 = ttest_ind(exp1_control_arpu, exp1_test_arpu)

print(f"P-value для первого эксперимента: {p_value1}")

exp2 = df2[df2['experiment_num'] == 2]
exp2_test = exp2[exp2['experiment_group'] == 'test']
exp2_control = exp2[exp2['experiment_group'] == 'control']

exp2_test_arpu = exp2_test.groupby('user_id')['revenue'].sum()
exp2_control_arpu = exp2_control.groupby('user_id')['revenue'].sum()
t_stat2, p_value2 = ttest_ind(exp2_control_arpu, exp2_test_arpu)

print(f"P-value для второго эксперимента: {p_value2}")

exp3 = df2[df2['experiment_num'] == 3]
exp3_test = exp3[exp3['experiment_group'] == 'test']
exp3_control = exp3[exp3['experiment_group'] == 'control']

exp3_test_arpu = exp3_test.groupby('user_id')['revenue'].sum()
exp3_control_arpu = exp3_control.groupby('user_id')['revenue'].sum()
t_stat3, p_value3 = ttest_ind(exp3_control_arpu, exp3_test_arpu)

print(f"P-value для третьего эксперимента: {p_value3}")

P-value для первого эксперимента: 0.688784211779017
P-value для второго эксперимента: 0.0009915972237576193
P-value для третьего эксперимента: 0.06174290011218765

In [15]:
df3.head()

   user_id        date  cnt_adverts   age  cnt_contacts  revenue
0    100.0  2022-01-01          6.0  21.0         119.0     53.0
1    100.0  2022-01-02          2.0  21.0         200.0     18.0
2    100.0  2022-01-03          6.0  21.0         193.0     42.0
3    100.0  2022-01-04          2.0  21.0         143.0     38.0
4    100.0  2022-01-05          2.0  21.0         190.0     40.0

In [14]:
total_sum = df3['revenue'].sum()
count_users = df3['user_id'].nunique()
avg_revenue = total_sum / count_users
print(avg_revenue)

156.48387096774192

In [16]:
median_age = df3['age'].median()
print(median_age)

28.0